
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap');



.Thumbnail{
  width: 100%;
 
}



.video-title{
margin-top: 0px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
margin-bottom:10px ;
}

.video-preview{

 
}

.video-info-grid{
display: grid;
grid-template-columns: 50px 1fr;

}

.Channel-picture{
 position: relative;
 
}

.video-info{
 
 

}

.profile-picture{
  width: 36px;
  border-radius:50px;
 
}

.tooltip-channel-pic {
  position: absolute;
box-shadow: 0 0 5px rgb(224, 214, 214);
display: flex;
justify-content:space-evenly;
align-items: center;
width: 222px;
height: 75px;
background-color: white;
border-radius: 0.4rem;
opacity: 0;
transition: 0.15s;
pointer-events: none;
z-index: 100;
}

.profile-picture-tooltip {
  width: 55px;
  border-radius: 50%;
}

.profile-para-tooltip {
  padding-bottom: 5px;
  font-weight: bold;
}

.profile-para-tooltip-gray {
  font-size: 15px;
  color: rgb(96, 96, 96);
}

.Channel-picture:hover .tooltip-channel-pic {
opacity: 1;
}


.Thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}

.video-author, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author{
  margin-bottom: 4px;
}

.Video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap:15px;
  row-gap: 20px;
}


.vedio-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500px;
  padding: 4px 4px 4px 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
right: 5px;
border-radius: 2px;
}

.video-title-link {
  text-decoration: none;
  color: black;
  
}

@media only screen and (max-width: 1334px) {
  .Video-grid{
   
    grid-template-columns: 1fr 1fr 1fr;
   
  }

}

@media only screen and (max-width: 886px) {
  .Video-grid{
   
    grid-template-columns: 1fr 1fr;
   
  }

}

@media only screen and (max-width: 614px) {
  .Video-grid{
   
    grid-template-columns: 1fr;
   
  }

}



